.skills {
  display: flex;
  flex-direction: column;

  flex: 1;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-around; */
}

.skills-type {
  font-size: 27px;
  font-weight: 800;
}
.skills-icons {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
}
.skills-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  max-width: 60%;
  justify-content: center;
}
.skill-icon {
  width: 90px;
  height: 80px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  /* margin-bottom: 10px; */
}
.skill-box > label {
  font-family: "ubuntu";
  font-size: 16px;
  margin-top: 10px;
}

@media only screen and (max-width: 720px) {
  .skills-icons {
    max-width: 100%;
    justify-content: center;
    margin: 10px 0px;
  }
  .skills-section {
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  .skill-icon {
    width: 70px;
    height: 60px;
  }
}
